
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&family=Karla&family=Poppins&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#box{
    background-color: rgb(233, 233, 237);
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
h1{
    text-align: center;
    color: rgb(52, 52, 52);
    font-size: 3.5em;
    font-family: 'Fira Mono', monospace;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 2vh;
}
h2{
    text-align: center;
    color: rgb(52, 52, 52);
    font-size: 2em;
    font-family: 'Poppins', monospace;
    font-weight: 600;
    margin-bottom: 2vh;
}
#box label{
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
}
#box button{
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 2vh;
}